*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
background-color: lightblue;
/* height: 400px; */


}
.child{
    background-color: lightcoral;
    /* height: 50%; */
    /* padding: 10%;
    margin: 10%;     */
    /* font-size: 1px; */
    /* width: 10%; */
}
.div{
    background-color: pink;
    /* height: 400px; */
}

.p{
    background-color: lightseagreen;
    /* width: 50%; */
    height: 50%;

}
